@page "/consumos"
@rendermode InteractiveServer

@using AquaEnergyMonitor.Services
@using static AquaEnergyMonitor.Components.Pages.Home

@inject ConsumoService ConsumoService
@inject NavigationManager Navigation

<header class="site-header">
    <h2 class="header-title" style="display:inline;">AquaEnergyMonitor</h2>
    <nav>
        <RadzenButton Click="@(args => Navigation.NavigateTo("/home"))" Text="Início" />
        <RadzenButton Click="@(args => Navigation.NavigateTo("/perfil"))" Text="Perfil" />
        <RadzenButton Text="Sair" ButtonStyle="ButtonStyle.Danger" />
    </nav>
</header>

<div class="container-grid" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; padding: 20px;">

    <RadzenCard Style="width: 45%; min-width: 300px;">
        <h3 style="text-align:center;">Consumo de Água</h3>
        <RadzenDataGrid @ref="aguaGrid" Data="@consumosAgua" TItem="ConsumoAguaDto" ShowPagingSummary="true" PageSize="8" AllowPaging="true" EditMode="@editMode">
            <Columns>
                <RadzenDataGridColumn TItem="ConsumoAguaDto" Property="Data" Title="Data" />
                <RadzenDataGridColumn TItem="ConsumoAguaDto" Property="MetrosCubicos" Title="Consumo (m³)" />
                <RadzenDataGridColumn TItem="ConsumoAguaDto" Title="Ações">
                    <Template Context="item">
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" />
                        <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" Style="margin-left: 5px;" Click="@(args => ExcluiConsumoAgua(item.Id))"/>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </RadzenCard>

    <RadzenCard Style="width: 45%; min-width: 300px;">
        <h3 style="text-align:center;">Consumo de Energia</h3>
        <RadzenDataGrid @ref="energiaGrid" Data="@consumosEnergia" TItem="ConsumoEnergiaDto" ShowPagingSummary="true" PageSize="8" AllowPaging="true" EditMode="@editMode">
            <Columns>
                <RadzenDataGridColumn TItem="ConsumoEnergiaDto" Property="Data" Title="Data" />
                <RadzenDataGridColumn TItem="ConsumoEnergiaDto" Property="Kwh" Title="Consumo (kWh)" />
                <RadzenDataGridColumn TItem="ConsumoEnergiaDto" Title="Ações">
                    <Template Context="item">
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" />
                        <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" Style="margin-left: 5px;" Click="@(args => ExcluiConsumoEnergia(item.Id))"/>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </RadzenCard>

</div>

@code {
    RadzenDataGrid<ConsumoAguaDto> aguaGrid;
    RadzenDataGrid<ConsumoEnergiaDto> energiaGrid;

    DataGridEditMode editMode = DataGridEditMode.Single;

    private List<ConsumoAguaDto> consumosAgua = new();
    private List<ConsumoEnergiaDto> consumosEnergia = new();

    protected override void OnInitialized()
    {
        consumosAgua = ConsumoService.GetConsumoAgua();
        consumosEnergia = ConsumoService.GetConsumoEnergia();
    }

    public async Task ExcluiConsumoAgua(Guid id)
    {
        ConsumoService.ExcluiConsumoAgua(id);
        consumosAgua = ConsumoService.GetConsumoAgua();
        await aguaGrid.Reload();
    }

    public async Task ExcluiConsumoEnergia(Guid id)
    {
        ConsumoService.ExcluiConsumoEnergia(id);
        consumosEnergia = ConsumoService.GetConsumoEnergia();
        await energiaGrid.Reload();
    }
}
